- This notebook contains codes for splitting yearly data for Malay Mail into monthly data

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.chdir('data/malay_mail/') # change directory to the folder which stores the data

In [19]:
df = pd.read_csv('malaysia_2017_2.csv') # import data 
df.head()

,year_month,title,link
0,2017_July,MACC arrests FIC former CEO,https://www.malaymail.com/news/malaysia/2017/0...
1,2017_July,Police arrest suspect in child sexual abuse case,https://www.malaymail.com/news/malaysia/2017/0...
2,2017_July,"Nothing wrong with revealing Dr M’s IC, deputy...",https://www.malaymail.com/news/malaysia/2017/0...
3,2017_July,Allocation for senior citizen centre diverted ...,https://www.malaymail.com/news/malaysia/2017/0...
4,2017_July,Najib urges 3.7m Malaysians to register as voters,https://www.malaymail.com/news/malaysia/2017/0...

In [20]:
# split yearly data into monthly data and save as csv for further scraping 
for month in df.year_month.unique(): 
    df_month = df.loc[df.year_month==month, :]
    df_month.to_csv('malaysia_' + month + '.csv', index=False)